@font-face {
    font-family: Cherry Bomb One;
    src: url('../fonts/CherryBombOne-Regular.ttf');
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf');
}

#frutas {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 80vw;
}

.img-planetinha {
    position: absolute;
    z-index: -1;
    width: 212px;
    right: 50px;
    top: 406px;
}

.img-agricultores {
    position: absolute;
    z-index: -1;
    width: 536px;
    right: 50px;
    top: 765px;
}

.conteudo >p {
    width: 686px;
    font-size: 18px;
    line-height: 36px;
    text-align: justify;
    padding-bottom: 20px;
}

.tit-principal, .tit-secundario {
    font-family: Cherry Bomb One;
}

.tit-principal {
    font-size: 35px;
    color: #27C030;
}

.tit-secundario {
    font-size: 30px;
    color: #25232F;
}

.tit {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  
    width: -moz-fit-content;
    width: fit-content;
    margin: 50px 0;
    padding: 22px 50px;
}

.conceitos >.tit{
    padding: 6px 71px;
}

.conceitos p {
    width: calc(686px - 150px);
}

.melhorias >.tit {
    margin-left: 180px;
}

.tit >h2{
    font-size: 30px;
    font-weight: 700;
    font-family: Cherry Bomb One;
    color: #25232F;
}

